.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: calc(100% - (2*48px));
  margin: 92px 48px 0; 
}
  
@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}
  
@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 88px 24px 0;
    max-width: calc(100% - (2*24px));
  }
}
  
@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 64px 16px 0;
    max-width: calc(100% - (2*16px));
  }
}